# Исключить все файлы временных и логов
*.log
*.tmp

# Исключить системные файлы и папки
.DS_Store
Thumbs.db

# Исключить папки с зависимостями
node_modules/
vendor/

# Исключить скомпилированные файлы и выходные директории сборки
dist/
build/
*.min.js
*.min.css

# Исключить конфигурационные файлы среды
.env
.env.local
.env.*.local

# Исключить временные файлы редакторов
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
